
body {
    font: 12px sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100wh;
    height: 100vh;
}
/*---------------------Fontes------------------------------*/
p, a, li {
    font-size: 1.25em;
    text-decoration: none;
    color: black;
}

.titulo-principal{
    font-size: 30px;
    font-weight: bold;
    margin-top: 2%;
    text-align: center;
}

/*---------------------Header------------------------------*/
#logo{
    width: 120px;
    height: 120px;
    margin-left: 20px;
    margin-top: -15px;
}

header{
    width: 100%;
    height: 90px;
    padding: 0;
    display: flex;
    background-color: white;
    justify-content: space-between;
}

/*---Barra de pesquisa--*/
.search-box{
    margin-top: 20px;
    margin-right: 200px;
    position: relative;
}

.pesquisa{
    display: flex;
    width: 300px;
    height: 40px;
    margin: 0 auto;
}

#title{
    width: 300px;
    height: 40px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 0%;
    transform: rotate(45deg);
    cursor: pointer;
}

.search-icon::before {
    content: '';
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 2px solid #46e3f5;
}

.search-icon::after {
    content: '';
    width: 20%;
    height: 2px;
    background-color: #46e3f5;
}

.title {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 40px;
}

#title{
    border: solid 1px black;
}

#lista{
    margin-top: 0px;
    border: solid 1px #000;
    border-top: none;
}

.lista-pesquisa{
    list-style: none;
    font: 16px;
}
/*--------------Menu-------------*/

.sidebar{
    position: fixed;
    bottom: 0;
    width: 240px;
    right: -240px;
    height: 100%;
    background: rgb(25, 25, 25);
    transition: all .5s ease;
}

.header-menu{
    color: white;
    line-height: 70px;
    text-align: center;
    background: rgb(25, 25, 25);
    user-select: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

#a-menu{
    color: white;
    display: block;
    height: 65px;
    width: 100%;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);
    font-family: sans-serif;
    transition: all .5s ease;
}

#a-menu.active, #a-menu:hover{
    border-left: 5px solid #46e3f5;
    color: white;
}

.sidebar #a-menu i{
    font-size: 23px;
    margin-right: 16px;
}

.sidebar #a-menu span{
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check{
    display: none;
}

label #btn-menu, label #cancel-menu{
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 45px;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(25, 25, 25);
    margin: 15px 30px;
    background: rgb(25, 25, 25);
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel-menu{
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar{
    right: 0;
}

#check:checked ~ label #btn-menu{
    margin-right: 245px;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel-menu{
    margin-right: 245px;
    opacity: 1;
    visibility: visible;
}

@media(max-width: 860px) {
    .sidebar{
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px;
    }

    .header-menu, #btn-menu, #btn-cancel{
        display:none;
    }
    
    span{
        position: absolute;
    }

    #a-menu{
        height: 60px;
    }

    .sidebar #a-menu, i{
        margin-right: -10px;
    }

    #a-menu:hover{
        width: 200px;
        background: inherit;
    }

    .sidebar #a-menu:hover span{
        opacity: 1;
        visibility: visible;
    }
}
/*----------------Footer--------------*/

footer{
	background-color: rgb(25, 25, 25);
    height: auto;
    width: auto;
    justify-items: center;
    align-items: center;
    margin-bottom: 0;
    display: flex;
}

.icons-list {
    display: flex;
}

.icon{
    color: white;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
